@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'GoryeongStrawberry';
}

.mypic {
	background-size: 100%;
	height: 250px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('https://i.ibb.co/Vj80jNG/2744.jpg');

    background-position: center 30%;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mypost {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 20px auto;

    box-shadow: 0px 0px 3px 0px black;
    padding: 20px;
}

.mypost > button {
    margin-top: 15px;
}

.mycards {
    width: 95%;
    max-width: 500px;
    margin: auto;
}

.mycards > .card {
    margin-top: 10px;
    margin-bottom: 10px;
}

